.bg-theme-0{
	background-color: $theme-fir;
}
.bg-theme-1{
	background-color: $theme-sec;
}
.bg-theme-2{
	background-color: $theme-thir;
}
.bg-theme-3{
	background-color: $theme-fou;
}
.bg-theme-4{
	background-color: $theme-fiv;
}
.text-theme-0{
	color: $theme-fir;
}
.text-theme-1{
	color: $theme-sec;
}
.text-theme-2{
	color: $theme-thir;
}
.text-theme-3{
	color: $theme-fou;
}
.text-theme-4{
	color: $theme-fiv;
}
.text-theme-0{
	color: $theme-fir;
}
.border-theme-1{
	border-color: $theme-sec;
}
.border-theme-2{
	border-color: $theme-thir;
}
.border-theme-3{
	border-color: $theme-fou;
}
.border-theme-4{
	border-color: $theme-fiv;
}